# Rebecca Environment Variables
SUDO_USERNAME=admin
SUDO_PASSWORD=admin123
SQLALCHEMY_DATABASE_URL=sqlite:///var/lib/rebecca/rebecca.db
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000
REBECCA_GATEWAY_ADDR=0.0.0.0:8000
